<ion-content>
  <ion-img [src]="isSignin ? signinImg : signupImg" />
  <p class="title-style">{{ isSignin ? "SignIn" : "SignUp" }}</p>
  <form>
    <ion-input fill="outline" mode="md" shape="round"
      ><ion-icon slot="start" src="../../assets/icon/mail.svg"></ion-icon
    ></ion-input>
    <ion-input fill="outline" mode="md" shape="round"
      ><ion-icon slot="start" src="../../assets/icon/key.svg"></ion-icon
    ></ion-input>
    <ion-button>{{ isSignin ? "Signin" : "Continue" }}</ion-button>
  </form>
  <div>
    <p>don't have an account?</p>
    <ion-button (click)="onSignup()">{{
      isSignin ? "Go SignUp" : "Go SignIn"
    }}</ion-button>
  </div>
</ion-content>
